@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Montserrat:wght@100&display=swap');

:root {
  --theme-color-primary: #FF7A9A;
  --theme-color-secondary: #ff5980;
  --theme-color-tertiary: #747dff;
  --theme-color-quaternary: #2339ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  outline: none;
}

html {
  appearance: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a {
  color: white;
}

a:link,
a:active,
a:visited {
  color: whitesmoke;
}

a:hover,
a:focus {
  opacity: 0.7;
}
